<!DOCTYPE html>
<html lang="en" data-ng-app="demoApp">
  <head>
    <title>Angular</title>
    <script type="text/javascript" src="http://code.angularjs.org/1.1.4/angular.min.js"></script>
  </head>

  <body>
  <h2>AngularJS 4: list filtering</h2>

  <div data-ng-controller="SimpleController">
    Name:<br />
    <input type="text" data-ng-model="name" 
	  placeholder="Enter a name to filter"/> {{ name }}

    <h3>Looping with ng-repeat</h3>
    <ul>
	  <li data-ng-repeat="person in persons | filter:name | orderBy:city">[{{$index + 1}}] {{ person.name | uppercase }} - {{ person.city }}</li>
    </ul>
  </div>

  <script>
	var demoApp = angular.module('demoApp', []);
	/*function SimpleController($scope) {
		 $scope.persons=[
		 	{name:'Dave',city:'Dublin'},
			{name:'Bob',city:'Dublin'}, 
			{name:'Julie',city:'Vevey'}
		];
	}
	demoApp.controller('SimpleController',SimpleController);*/
        demoApp.controller('SimpleController', function ($scope) {
                 $scope.persons=[
                        {name:'Dave',city:'Dublin'},
                        {name:'Bob',city:'Dublin'},
                        {name:'Julie',city:'Vevey'}
                ];
        }
        );

  </script>

</body>
</html>

